apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.clusterAgentService.name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
  {{- include "deepfence-cluster-agent.selectorLabels" . | nindent 4 }}
  ports:
    - protocol: TCP
      port: {{ .Values.clusterAgentService.port }}
      targetPort: {{ .Values.clusterAgentService.targetPort }}